In [1]:
from data import get_data
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt

idx = pd.IndexSlice

In [3]:
columns = ["sharefactor", ""]
data = get_data(columns)

In [14]:
data

                        pe  closeadj  close
date       ticker
1997-12-31 A           NaN       NaN    NaN
           AA          NaN       NaN    NaN
           AAAB        NaN       NaN    NaN
           AAAP        NaN       NaN    NaN
           AABC        NaN    10.138  11.00
...                    ...       ...    ...
2021-08-18 ZYME     -6.796    31.970  31.97
           ZYNE     -5.007     3.870   3.87
           ZYTO        NaN       NaN    NaN
           ZYXI    111.430    13.150  13.15
           ZZ          NaN       NaN    NaN

[4303215 rows x 3 columns]